In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from IPython.display import Image
from src.API_Wrapper import API
from src.Reporter import Reporter
from src.Data_Generator import Data_Generator
from src.Simulator import Simulator
# Creds
LEAGUE_ID = '65522'
USER_AGENT = 'brayps_user_agent'
# Current week of the season
week = 1
# Number of seasons to run
n = 100
# Instatiate Classes
api = API(leagueid=LEAGUE_ID, user_agent=USER_AGENT)
rep = Reporter(api, week)
dg = Data_Generator(week, api, rep, n)
sim = Simulator(week, api, rep, dg, n)

# Babara Dodson's Fantasy League 2021 Simulation
*version 1.0* 

*4 August 2021*

Below is the results of 1000 simulations of the 2021 BDFL regular season. The methodology is far from perfect, but takes some cool things into account (like MPPP being boom or bust). You can read my report on it [here](https://nbviewer.jupyter.org/github/PatrickBrayPersonal/BDFL-Simulation/blob/main/src/Report.ipynb) or find the TLDR below.

## Team Performance

In [2]:
pd.options.display.float_format = '{:,.2f}'.format
sim.team_df.sort_values('mean_ppg', ascending=False)

,total_wins,average_wins,total_pts,mean_ppg,std_ppg,max_game,min_game
team,,,,,,,
The Youth Academy,1034,10.34,"87,847.43",135.19,29.53,245.62,48.80
Half Chubb,781,7.81,"84,636.65",130.00,28.53,209.90,40.20
D.K. Mudbone,805,8.05,"83,479.40",128.00,33.31,233.64,14.11
Jeff Janis Fan Club,663,6.63,"80,777.09",124.00,30.09,218.35,26.58
you know why i'm here,800,8.00,"80,552.32",123.74,33.26,230.64,25.88
Marcus Peters' Peter Peckers,685,6.85,"79,718.36",122.74,33.64,223.25,-0.55
Suck My Ditka,570,5.70,"74,130.93",114.06,29.44,198.98,19.34
Folk the King,650,6.50,"73,752.89",113.19,30.06,208.26,28.05
Do Your Job,501,5.01,"71,773.95",110.72,28.39,199.34,18.39
Free hernandez,462,4.62,"67,935.12",104.13,28.28,191.75,18.63
WhatDaTruck,443,4.43,"66,460.66",101.92,28.30,192.50,14.45
Rodger Goodella,406,4.06,"63,719.09",98.45,29.16,183.56,12.46

## Playoff Chances

In [3]:
sim.outcome_df.sort_values('made_playoffs', ascending=False)

                              made_playoffs  average_league_finish
id
The Youth Academy                      0.99                   1.50
you know why i'm here                  0.90                   4.16
Half Chubb                             0.87                   4.04
D.K. Mudbone                           0.85                   3.99
Jeff Janis Fan Club                    0.60                   5.95
Marcus Peters' Peter Peckers           0.59                   5.68
Folk the King                          0.48                   6.71
Suck My Ditka                          0.27                   7.73
Do Your Job                            0.16                   8.74
Free hernandez                         0.12                   9.47
WhatDaTruck                            0.10                   9.70
Rodger Goodella                        0.07                  10.29

In [6]:
df = dg.score_df

df.loc[df.name_player == 'James Robinson']
# df.loc[df.name_player == 'Leonard Fournette']

,id_franchise,player_status,player_id,position,name_player,id_player,team,name_franchise,week,opp,weeks_remaining,norm_name_player,mean_pts,pos_rank,fran_pos_rank,start,flex_rank,pts
1944,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,1,HOU,18,jamesrobinson,8.70,RB1,2,True,NaN,"[6.2264301279710645, 4.6748517610860905, 6.927..."
1945,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,2,DEN,18,jamesrobinson,11.12,RB1,1,True,NaN,"[6.733862549489958, 10.144518587889632, 4.9586..."
1946,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,3,ARI,18,jamesrobinson,10.89,RB1,1,True,NaN,"[8.480259291696637, 7.674342880951674, 12.1383..."
1947,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,4,CIN,18,jamesrobinson,12.11,RB1,1,True,NaN,"[7.85222428630861, 7.522451548122567, 5.348398..."
1948,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,5,TEN,18,jamesrobinson,12.11,RB1,1,True,NaN,"[17.959077058984388, 15.292229346291922, 14.64..."
1949,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,6,MIA,18,jamesrobinson,9.79,RB1,1,True,NaN,"[7.533225285200422, 11.027615297090291, 8.9374..."
1950,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,7,BYE,18,jamesrobinson,0.00,RB1,6,False,7.00,
1951,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,8,SEA,18,jamesrobinson,10.54,RB1,1,True,NaN,"[11.603905588385901, 8.306873172782103, 10.886..."
1952,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,9,BUF,18,jamesrobinson,11.01,RB1,1,True,NaN,"[5.694607357383234, 6.2178592990534165, 5.2531..."
1953,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,10,IND,18,jamesrobinson,9.39,RB1,1,True,NaN,"[5.059055858689424, 7.348016760179446, 5.58503..."
1954,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,11,SFO,18,jamesrobinson,9.21,RB1,1,True,NaN,"[7.82942499278651, 10.648127757068297, 7.21935..."
1955,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,12,ATL,18,jamesrobinson,8.75,RB1,1,True,NaN,"[8.385307511734917, 9.993470100500272, 10.5746..."
1956,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,13,LAR,18,jamesrobinson,8.63,RB1,1,True,NaN,"[9.85682788897346, 8.443355740389128, 9.892331..."
1957,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,14,TEN,18,jamesrobinson,12.11,RB1,1,True,NaN,"[13.58050480173652, 15.663060305916904, 14.756..."
1958,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,15,HOU,18,jamesrobinson,15.53,RB1,1,True,NaN,"[3.2518783367144657, 7.126660379271489, 5.0400..."
1959,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,16,NYJ,18,jamesrobinson,10.60,RB1,1,True,NaN,"[2.2395247365083994, 1.891244471886056, 8.4669..."
1960,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,17,NEP,18,jamesrobinson,11.07,RB1,1,True,NaN,"[11.387735514371993, 11.181540791120534, 6.682..."
1961,0004,ROSTER,14813,RB,James Robinson,14813,JAC,WhatDaTruck,18,IND,18,jamesrobinson,9.39,RB1,1,True,NaN,"[4.813655060684642, 1.1783173444986597, 3.7233..."

In [5]:
df.loc[df.name_player == 'Robinson, James', ['id_franchise', 'name_franchise']] = ['0008', 'Folk the King']
df[['id_franchise', 'name_franchise']].drop_duplicates()
df.loc[df.name_player == 'Robinson, James']

Empty DataFrame
Columns: [id_franchise, player_status, player_id, position, name_player, id_player, team, name_franchise, week, opp, weeks_remaining, norm_name_player, mean_pts, pos_rank, fran_pos_rank, start, flex_rank, pts]
Index: []

## What Does This Mean?
The simulation is based on projected player performance from fantasypros.com. These projections don't take into account injuries, breakout players, halftime-retirements, and all the unpredicable things that happen during a football season. The simulation only introduces randomness at the game-level which normalizes over 13 games. What this means is the simulation is a lot more confident than it should be and will predict a week 13 game with the same confidence as a week 1 game. For the playoff percentages, I would recommend imagining each team a little closer to 50% than where they are at now, and shrink that error each week we get closer to the playoffs.

## What Next?
* Weekly Projections

    * This methodology is a lot more effective once it can recieve weekly player projections. It could even help you set your lineup using more than just mean points. I'll let the groupme know when this is available.
           
* Season-Level Player Distributions

    * Some players have a chance at a breakout year. We'll incorporate a distribution on top of the fantasy pros projections to introduce the uncertainty you would expect from fantasy football at the season-level.
    
* Player-Specific Variance / Non-Normal Distributions

    * Right now the simulation treats the distribution of points from a player on a given week as normal (which is wrong and why you see negative game scores above), with a variance determined by the roster position. However, Will Fuller has a much larger variation in points than Cooper Kupp and we should capture that.
    
* Simulate the Playoffs